---
Checks:          '-*,cppcoreguidelines-*,-cppcoreguidelines-explicit-virtual-functions,performance-*,portability-*,readability-*,clang-analyzer-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
User:            frankmejzlik