---
Checks:          '-*,cppcoreguidelines-*,modernize-*,-modernize-use-trailing-return-type,performance-*,portability-*,readability-*,clang-analyzer-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
User:            frankmejzlik